.wrap{
  width: 100vw;
  height: 100vh;
  background-color: #efeff4;
}
header{
  width: 100%;
}
header .top{
  width: 6.9rem;
  margin: 0 auto;
  padding: 10px 0;
}
header .top .fbtp-a img{
  width: 0.28rem;
  float: left;
}
header .top h4{
  font-size: 16px;
  float: left;
  margin-left: 0.25rem;
}
header .top h4 img{
  width: 0.24rem;
  margin-left: 0.2rem;
}
header .top a:nth-child(3){
  color: #000;
  float: right;
  font-size: 16px;
}
section{
  width: 100%;
}
section .tzdx{
  position: relative;
}
section .tzdx img{
  width: 100%;
}
section .tzdx img:last-child{
  position: absolute;
  top: 0;
  left: 0;
}
section .xtp img{
  width: 1.63rem;
  margin-right: 0.02rem;
}